@{
    ViewData["Title"] = "Home Page";
}

<h1>Meu Projeto</h1>
<h3>@ViewData["message"]</h3>
 <h3>Email: @ViewData["email"]</h3>

<div id="facebook"><a href="https://www.facebook.com/Dorazzi.paulo"> <img src="~/image/face.png" width="70" height="70"> FACEBOOK </a> </div>
<div id="instagram"><a href="https://www.instagram.com/paulodorazzi"> <img src="~/image/Insta.png" width="50" height="50"> INSTAGRAM </a> </div>

